.navigation{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

h1{
    font-size: 4rem; 
}

nav{
    display: flex; 
    justify-content: center; 
}

a{
    text-decorator: none; 
    margin: 15px 1.6rem; 
    color: black; 
    font-size: 1.6rem; 
}